.update-product-container {
    position:fixed;
    top:0;
    left:0;
    z-index: 10;
    width:100vw;
    height:100vh;
    background-color: transparent;
}
.update-product-container img {
    width:70px;
}